# ---- .NET ----
# Build output
[Bb]in/
[Oo]bj/
[Oo]ut/
[Dd]ebug/
[Rr]elease/

# Visual Studio / Rider
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# Test / build artefakty
[Tt]est[Rr]esult*/
*.pdb

# ---- Node / frontend ----
node_modules/
dist/
.angular/

# ---- Różne ----
*.log
.DS_Store
Thumbs.db
