<div class="stolica-page" *ngIf="kingdom; else loadingTpl">
  <div class="toast" *ngIf="message">{{ message }}</div>

  <div class="kingdom-title-bar">
    <div class="portrait-area">
      <div class="portrait-frame">
        <div class="portrait-placeholder race-img">{{ kingdom.race }}</div>
      </div>
      <div class="kingdom-meta">
        <span class="online-info">online {{ kingdom.age }} ID: {{ kingdom.id }}</span>
      </div>
    </div>
    <div class="kingdom-name-area">
      <h2>{{ kingdom.name }}
        <span class="coalition-tag" *ngIf="kingdom.coalitionName">*{{ kingdom.coalitionName }}*</span>
        {{ kingdom.turnsAvailable }}/{{ kingdom.maxTurns }}
      </h2>
    </div>
  </div>

  <div class="stolica-content">
    <div class="stats-panel">
      <table class="stats-table">
        <tr>
          <th colspan="3">
            Ostatnie zgłoszenie: {{ kingdom.age }} dni temu
          </th>
        </tr>
        <tr class="table-header-row">
          <td></td>
          <td class="col-value">Liczba</td>
          <td class="col-change">Zmiana</td>
        </tr>
        <tr>
          <td class="stat-label">ludność</td>
          <td class="stat-value">{{ kingdom.population | numberFormat }}</td>
          <td class="stat-change" [ngClass]="getDeltaClass('population')">{{ getDelta('population') }}</td>
        </tr>
        <tr>
          <td class="stat-label">popularność</td>
          <td class="stat-value">{{ kingdom.popularity }}%</td>
          <td class="stat-change" [ngClass]="getDeltaClass('popularity')">{{ getDelta('popularity') }}</td>
        </tr>
        <tr>
          <td class="stat-label">akry</td>
          <td class="stat-value">{{ kingdom.land | numberFormat }}</td>
          <td class="stat-change"></td>
        </tr>
        <tr>
          <td class="stat-label">pensje</td>
          <td class="stat-value">{{ kingdom.wages }}</td>
          <td class="stat-change"></td>
        </tr>
        <tr>
          <td class="stat-label">złoto</td>
          <td class="stat-value">{{ kingdom.gold | numberFormat }}</td>
          <td class="stat-change" [ngClass]="getDeltaClass('gold')">{{ getDelta('gold') }}</td>
        </tr>
        <tr>
          <td class="stat-label">jedzenie</td>
          <td class="stat-value">{{ kingdom.food | numberFormat }}</td>
          <td class="stat-change" [ngClass]="getDeltaClass('food')">{{ getDelta('food') }}</td>
        </tr>
        <tr>
          <td class="stat-label">kamienie</td>
          <td class="stat-value">{{ kingdom.stone | numberFormat }}</td>
          <td class="stat-change" [ngClass]="getDeltaClass('stone')">{{ getDelta('stone') }}</td>
        </tr>
        <tr>
          <td class="stat-label">budulec</td>
          <td class="stat-value">{{ kingdom.budulecStored | numberFormat }}</td>
          <td class="stat-change" [ngClass]="getDeltaClass('budulecStored')">{{ getDelta('budulecStored') }}</td>
        </tr>
        <tr>
          <td class="stat-label">bronie</td>
          <td class="stat-value">{{ kingdom.weapons | numberFormat }}</td>
          <td class="stat-change" [ngClass]="getDeltaClass('weapons')">{{ getDelta('weapons') }}</td>
        </tr>
        <tr>
          <td class="stat-label">mana</td>
          <td class="stat-value">{{ kingdom.mana | numberFormat }}</td>
          <td class="stat-change" [ngClass]="getDeltaClass('mana')">{{ getDelta('mana') }}</td>
        </tr>
        <tr>
          <td class="stat-label">edukacja</td>
          <td class="stat-value">{{ kingdom.education }}%</td>
          <td class="stat-change"></td>
        </tr>
      </table>
    </div>

    <div class="right-panels">
      <div class="advisor-panel">
        <div class="advisor-header">Doradca Sekretarz: Tutorial</div>
        <div class="advisor-body">
          <p>Obok nazwy Twojego księstwa i nazwy <em>koalicji</em> - o ile już do jakiejś przystąpiłeś - znajduje się informacja o ilości <strong>tur</strong>, jaką masz do wykorzystania w danym dniu.</p>
          <p>Uwaga - <em>dzień</em> w krainie Red Dragona zaczyna się po <em>przeliczeniu</em> o godzinie 5 rano i kończy następnego dnia o tej samej godzinie, kolejnym <em>przeliczeniem</em>.</p>
        </div>
      </div>

      <div class="preview-cards">
        <div class="preview-card">
          <div class="preview-image special-building-img">
            <span *ngIf="!kingdom.currentSpecialBuilding">Brak</span>
            <span *ngIf="kingdom.currentSpecialBuilding">{{ kingdom.currentSpecialBuilding }}</span>
          </div>
          <div class="preview-label" *ngIf="kingdom.currentSpecialBuilding">
            {{ kingdom.currentSpecialBuilding }}
            [{{ kingdom.specialBuildingCost > 0 ? ((kingdom.specialBuildingProgress / kingdom.specialBuildingCost) * 100 | number:'1.0-0') : 0 }}%]
          </div>
          <div class="preview-label" *ngIf="!kingdom.currentSpecialBuilding">
            Nic [0%]
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingTpl>
  <div class="loading">Ładowanie księstwa...</div>
</ng-template>
